<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    
    <title>Kryptokrona Mini Miner</title>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.3/jquery.timeago.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
    <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='styles.css')}}">
</head>

<body>
    <div id="page-wrapper">
        <h1>Kryptokrona Miner</h1>
        <h3>Network Statistics</h3>
        <div id="poolStats" class="row">
            <div id="Stats">  
                <div id="networkStats"> 
                    <div id="networkStatsKryptokrona">
                        <div class="col-lg-3 col-sm-4">
                            <div class="infoBox hoverExpandEffect mergedBg">
                                <div class="icon">
                                    <span class="fa fa-dashboard"></span>
                                </div>
                                <div class="content">
                                    <div class="text"><span data-tkey="networkHashrate">Network Hash Rate (H/s)</span> </div>
                                    <div class="value"><span id="networkHashrateKryptokrona">Loading...</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4">
                            <div class="infoBox hoverExpandEffect mergedBg">
                                <div class="icon">
                                    <span class="fa fa-unlock-alt"></span>
                                </div>
                                <div class="content">
                                    <div class="text"><span data-tkey="networkDifficulty">Difficulty</span> </div>
                                    <div class="value"><span id="networkDifficultyKryptokrona">Loading...</span></div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Blockchain Height -->
                        <div class="col-lg-3 col-sm-4">
                            <div class="infoBox hoverExpandEffect mergedBg">
                                <div class="icon">
                                    <span class="fa fa-bars"></span>
                                </div>
                                <div class="content">
                                    <div class="text"><span data-tkey="blockchainHeight">Blockchain Height</span> </div>
                                    <div class="value"><span id="blockchainHeightKryptokrona">Loading...</span></div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <h3>Your statistics</h3>
        <div id="minerStats" class="row">
            <div class="col-lg-3 col-sm-4">
                <div class="infoBox hoverExpandEffect">
                    <div class="icon">
                        <span class="fa fa-dashboard"></span>
                    </div>
                    <div class="content">
                        <div class="text"><span data-tkey="averageHashrate">Average Hashrate (H/s)</span></div>
                        <div class="value"><span id="AverageHashrate" class="smallText">Loading...</span> <span class="smallText"></span>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="col-lg-3 col-sm-4">
                <div class="infoBox hoverExpandEffect">
                    <div class="icon">
                        <span class="fa fa-dashboard"></span>
                    </div>
                    <div class="content">
                        <div class="text"><span data-tkey="acceptedShares">Accepted Shares</span></div>
                        <div class="value"><span id="acceptedShares" class="smallText">Loading...</span> <span class="smallText"></span>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="col-lg-3 col-sm-4">
                <div class="infoBox hoverExpandEffect">
                    <div class="icon">
                        <span class="fa fa-dashboard"></span>
                    </div>
                    <div class="content">
                        <div class="text"><span data-tkey="rejectedShares">Rejected Shares</span></div>
                        <div class="value"><span id="rejectedShares" class="smallText">Loading...</span> <span class="smallText"></span>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
        <h3>Controls</h3>
        <div id="buttons1" class="row input-group">
            <form action="/miner" method="get" target="dummyframe">
                <input type="hidden" id="command" name="command" value="restart">
                <input type="submit" class="btn btn-primary" value="Restart">
            </form>
        </div>
        <h3>Configuration</h3>
        <h4>Pool Address (pool.example.com:3333)</h4>
        <div>
            <div class="input-group row">
                <form action="/miner" method="get" target="dummyframe">
                    <input type="hidden" id="comamnd" name="command" value="updatePool">
                    <input class="form-control" id="updatePoolAddress" type="text" data-tplaceholder="enterNewPool" placeholder="Enter Your Pool address">
                    <input type="submit" class="btn btn-primary" value="Update">
                </form>
            </div>
        </div>
        <h4>Mining Address (SEKR....)</h4>
        <div>
            <div class="input-group row">
                <form action="/miner" method="get" target="dummyframe">
                    <input type="hidden" id="comamnd" name="command" value="updateAddress">
                    <input class="form-control" id="updateAddress" type="text" data-tplaceholder="enterNewAddress" placeholder="Enter Your New Address">
                    <input type="submit" class="btn btn-primary" value="Update">
                </form>
            </div>
        </div>

    </div>
    <script>
        async function updateData() {
            fetch("/stats")
            .then(response => {
                response.json()
            })
            .then(response => {
                let averageHashrate = document.getElementById("averageHashrate")
                averageHashrate.innerHTML = response.averageHashrate
                
                let acceptedShares = document.getElementById("acceptedShares")
                acceptedShares.innerHTML = response.acceptedShares
                
                let rejectedShares = document.getElementById("rejectedShare")
                rejectedShare.innerHTML = response.rejectedShare
                
            })
            let node = await getBestNode()
            fetch(node + "/info")
            .then(response => {
                response.json()
            })
            .then(response => {
                let networkHashrateKryptokrona = document.getElementById("networkHashrateKryptokrona")
                networkHashrateKryptokrona.innerHTML = response.hashrate
                
                let networkDifficultyKryptokrona = document.getElementById("networkDifficultyKryptokrona")
                networkDifficultyKryptokrona.innerHTML = response.difficulty
                
                let blockchainHeightKryptokrona = document.getElementById("blockchainHeightKryptokrona")
                blockchainHeightKryptokrona.innerHTML = response.height
            })
            
        }
        async function getBestNode(ssl = false) {
            fetch('https://raw.githubusercontent.com/kryptokrona/kryptokrona-public-nodes/main/nodes.json')
            .then(response => {
                response.json()
            }).then(async response => {
                let nodelist = response
                
                let recommended_node = undefined;
                let ssl_nodes =[];
                if (ssl) {
                    ssl_nodes = nodelist.nodes.filter(node => {return node.ssl});
                } else {
                    ssl_nodes =  nodelist.nodes.filter(node => {return !node.ssl});
                }
                
                ssl_nodes = ssl_nodes.sort((a, b) => 0.5 - Math.random());
                
                
                let i = 0;
                
                while (i < ssl_nodes.length) {
                    
                    
                    let this_node = ssl_nodes[i];
                    
                    let nodeURL = `${this_node.ssl ? 'https://' : 'http://'}${this_node.url}:${this_node.port}/info`;
                    try {
                        const resp = await fetch(nodeURL, {
                            method: 'GET',
                        }, 2000);
                        
                        if (resp.ok) {
                            
                            recommended_node = `${this_node.url}:${this_node.port}`;
                            console.log("resp ok!", recommended_node)
                            return recommended_node;
                        }
                    } catch (e) {
                        console.log(e);
                    }
                    i++;
                }
            })
            return false
            
        }
        setInterval(updateData, 10000)
    </script>
</body>
</html>